    .red {
        color: red;
    }
    .smallimg {
        width: 10%;
        height: 10%;
    }
    .destacadosh1 {
        text-align: center;
        color: white;
    }

        
    body {
    
        background-image: url("../fondo.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .center {
        text-align: center;
        align-items: center;
    }
    .rowlg {
        height: 100px;
    }

    h1{
        font-family: 'Press Start 2P', cursive;
    }
    h2 {
      font-family: 'Press Start 2P', cursive;
    }
    

    p {
        font-family: 'Press Start 2P', cursive;
        font-size: 70%;
    }
    h5{
        font-family: 'Press Start 2P', cursive;
    }
    .image-overlay {
        display: block;
        width: 100%;
        height: 100%; 
      }

      .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); 
        color: #f1f1f1;
        width: 92.1%;
        height: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
      }
      
      .container-md:hover .overlay {
        opacity: 1;
      }
      
      .bordertop {
          margin-top: 1em;
      }
      .celesteazul {
          color: rgb(0, 223, 253);
      }
      .blackback {
          background-color: black;
          padding-bottom: 1px;
          margin-top: 10px;
      }
      .redsocial {
          width: 10%;
          height: 10%;
      }
      .motor {
          color: yellowgreen;
          margin-left: 5em;
      }
      .motor2 {
          color: rgb(70, 250, 250);
      }

      .ue {
          width: 15%;
      }

      .p-motores {
          color: rgb(255, 255, 255);
          margin-top: 5rem ;
      }

      .navbarletra {
        font-family: 'Press Start 2P', cursive;
        font-size: 75%;
      }
      .separacion {
          margin-top: 20px;
      }
      .p-motores:hover{
          background-color: black;
          opacity: .9;
          transition: .2s;
      }
      .buscador {
        box-shadow: 3px 4px 0px 0px #1f4b52;
        background:linear-gradient(to bottom, #a6d3e3 5%, #0b4852 100%);
        background-color:#a6d3e3;
        border-radius:18px;
        border:1px solid #030405;
        display:inline-block;
        cursor:pointer;
        color:#f7f7f7;
        font-family:Arial;
        font-size:17px;
        padding:7px 25px;
        text-decoration:none;
        text-shadow:0px 1px 0px #8fb7c4;
    }
    .buscador:hover {
        background:linear-gradient(to bottom, #0b4852 5%, #a6d3e3 100%);
        background-color:#0b4852;
    }
    .buscador:active {
        position:relative;
        top:1px;
    }
    input[type="search"]{
        width:170px;
        margin:10px;
        padding:10px 16px;
        border-radius:32px;
        outline:none;
        border:2px solid #ccd1d1;
        background:#a7a0a4;
        transition: 0.5s;
    }
    input[type="search"]:focus{
        background:#fff;
        width:300px;
    }